body,
html {
	height: 100%;
	position: relative;
}

#particles-js canvas {
	display: block;
	background-color: #000;
	vertical-align: bottom;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
	transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0
}

.bg-nav {
	/*background-color: rgba(26, 146, 2, 0.13)!important;*/
	background-color: transparent;
}
.bg-card {
	background-color: #28a74573;
}

.header-title { 
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 4rem;
	font-weight: 200;
}
.header-text { 
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 2rem auto;
	font-size: 1.25rem;
    font-weight: 300;
	color: rgba(255, 255, 255, 0.75);
}
.subtitle {
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 2rem;
	font-weight: 200;
}
#fp-nav{z-index: 100;}
/*#fp-nav {
    position: fixed;
    z-index: 100;
    top: 50%;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
}
#fp-nav.right {
    right: 20px;
}

#fp-nav ul { list-style: none; }*/
#fp-nav a {
	/*color: #42a832;*/
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;	
    font-weight: 400;	
	color: #fff;
	
}
#fp-nav a.active{ /*color: #FF5733;*/ font-weight: bold }
#fp-nav a:hover {
	/*color: red;*/ font-weight: bold
}
.listservices {
  list-style: none; /* Remove list bullets */
  padding: 0;
  margin: 0;
}
.listservices li:before {
  content: "–"; /* Insert content that looks like bullets */
  padding-right: 8px;
}
.bg-card { background-color: #252525 }
.text-green { color: green; }

/**/
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #007b5e !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}
/***/
.linearbg {background: green; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, green , #000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, green , #000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color : #000;    z-index: 1}