/* fonts */
@import url('https://fonts.googleapis.com/css?family=Abel|Rubik');
body,
html {
	height: 100%;
	position: relative;
	background-color: #000;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* particle related styles */
#particles-js canvas {
	display: block;
	background-color: #000;
	vertical-align: bottom;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
	transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0
}

/* section indexes */
#preventivo, #chisiamo, #servizi, #workflow, #calltoaction, #contattaci, #footer, #back-to-top {
	z-index: 10;
}

/* navbar styles */
.nav-link {
	padding: 25px !important;
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
}
.bg-green {	
	background-color: #42a832!important;
}
.navbar-dark .navbar-nav .nav-link {
	color: #ffffff !important;
}
.nav-link:hover {
	background-color: #6ae057;
	transition: ease-out .3s;
	height: calc(100% + 10%);
}

/* header section styles */
.text-header-section {
	color: #fff;	
	font-size: 3rem;
	font-weight: 200;
}
.subtext-header-section {
	color: rgba(255, 255, 255, 0.75);	
	margin: 2rem auto;
	font-size: 1.25rem;
	font-weight: 300;
	width: 75%;
}
hr {
	border-color: #343a40;
}

/* preventivo section styles */

#preventivo h2 {
    font-weight: normal;
    font-family: Abel;
    letter-spacing: 3px;
    word-spacing: 2px;
    color: #a3a3a3;
    font-size: 20px;
    text-align: center;
}
#preventivo h1 {
    font-size: 60px;
    letter-spacing: 8px;
    font-weight: bold;
    font-family: Abel;
    color: black;
    text-align: center;
}
.centered-box {
	padding: 180px 0px;
}
.panel-preventivo {
	border-color: #d8d8d8;
	border-radius: 0px;
	margin-bottom: 0px;
	border-left: 2px solid #d8d8d8;
	border-right: 2px solid #d8d8d8;
	-webkit-box-shadow: 0px 10px 5px 0px rgba(216,216,216,1);
	-moz-box-shadow: 0px 10px 5px 0px rgba(216,216,216,1);
	box-shadow: 0px 10px 5px 0px rgba(216,216,216,1);
}
.panel-preventivo > .card-heading {
	background-color: #fff;
	border-color: #fff;
	text-align: center;
}
.panel-preventivo > .card-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    border-bottom: 1px solid #efefef;
}

.preventivo-form {
	/*font-family: 'Rubik', sans-serif;*/
}

.tooltip-preventivo {
	padding: 4px 10px;
}
#preventivo .form-control {
	border-radius: 0px;
	border: none;
	border-top: 1px solid #e1e1e1;
	background: #f2f2f2;
	box-shadow: none !important;
}

#preventivo label {
	font-family: 'Rubik', sans-serif;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

/* chisiamo section styles */
#chisiamo h1 {
	font-weight: normal;
	font-family: Abel;
	letter-spacing: 3px;
	word-spacing: 4px;
}
#chisiamo hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
#chisiamo h2 {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 3px;
	font-family: Abel;
	color: #249d32;
}
#chisiamo p {
	font-weight: bold;
	font-size: 13px;
	color: #bebebe;
	letter-spacing: 1px;
	word-spacing: 1px;
	line-height: 1.7;
}

/* workflow section styles */
#workflow h1 {
	font-family: Abel;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 3px;
	color: #303030;
}
#workflow hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
#workflow h2 {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 3px;
	font-family: Abel;
	color: #249d32;
}
#workflow p {
	font-weight: 600;
    text-align: justify;
    font-size: 17px;
    color: #212529;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.7;
    font-family: Abel;
}

/* footer styles */
#footer h5 {
	padding-left: 10px;
	border-left: 3px solid #eeeeee;
	padding-bottom: 6px;
	margin-bottom: 20px;
	color: #42a832;
	text-transform: uppercase;
}

.link-footer i { font-weight: 400 }
.link-footer, .link-footer-social {
	color: #fff;
	font-weight: 400;
	line-height: 1.8em;
}
.link-footer-social:hover {
	text-decoration: none;
	color: #42a832;
	position: relative;
	top: -5px;
	transition: all .2s linear;
}
.link-footer:hover{
	text-decoration: none;
	color: #42a832;
	padding-left: 5px;
	transition: .2s linear;
}
.bg-footer {
	background-color: #0e0f10 !important;
}
/* servizi styles */
#servizi h1 {
	font-family: Abel;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 3px;
	color: #303030;
}
.green-underline {
	border: 2px solid #3b613b !important;
	margin-bottom: 60px;
	margin-top: 0 !important;
}
.services-icon {
	font-size: 50px;
	border: 1px solid #597c59;
	padding: 30px 30px;
	background-color: white;
	border-radius: 1.8em;
	color: #3b613b;
	border-bottom-right-radius: 0px;
}
.services-icon:hover {
	transition: 200ms;
    background-color: #597c59;
    color: white;
}
#servizi h3 {
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: 2px;
	color: #7d8e7d;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}
#servizi p {
	font-size: 18px;
	font-family: Abel;
	font-weight: normal;
	letter-spacing: 2px;
	/*text-align: justify;*/
}
/* calltoaction styles */
#calltoaction{
	background: #4cb55a; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2de858 , #4cb55a); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2de858 , #4cb55a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color : #4bc35c;
}

/* contattaci styles */
.form-control.is-invalid {
    border: 1px solid #dc3545 !important;
}
#contattaci h1 {
	font-family: Abel;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 3px;
	color: #303030;
}

#contattaci h4 {
	font-family: Abel;
	font-size: 19px;
	letter-spacing: 2px;
	color: #5b5b5b;
}

#contattaci h2 {
	font-family: Abel;
	font-size: 24px;
	font-weight: bold;
	color: black;
}

#contattaci .form-control {
	border-radius: 0px;
	border: none;
	border-top: 1px solid #e1e1e1;
	background: #f2f2f2;
	box-shadow: none !important;
}

#contattaci label {
	font-family: 'Rubik', sans-serif;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}
/* back to top icon */
.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display:none;
}
.btn-green {
	color: #fff;
	background-color: #42a832;
	border-color: #42a832;
}
.btn-green:hover {
	color: #fefefe;
	background-color: green;
	border-color: green;
}
.btn-green:focus {
	box-shadow: none;
}