/* fonts */
@import url('https://fonts.googleapis.com/css?family=Abel|Rubik');
body,
html {
	height: 100%;
	position: relative;
	background-color: #000;
	font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* particle related styles */
#particles-js canvas {
	display: block;
	background-color: #000;
	vertical-align: bottom;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
	transition: opacity .8s ease, transform 1.4s ease
}

#particles-js {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 0;
	top: 0;
	left: 0
}

/* section indexes */
#preventivo, #chisiamo, #servizi, #workflow, #calltoaction, #contattaci, #footer, #back-to-top {
	z-index: 10;
}

/* navbar styles */
.nav-link {
	padding: 19px !important;
	font-weight: 400;
	font-size: 15px;
	text-transform: uppercase;
}
.bg-green {	
	background-color: #42a832!important;
}
.navbar-dark .navbar-nav .nav-link {
	color: #ffffff !important;
}
.nav-link:hover {
	background-color: #6ae057;
	transition: ease-out .3s;
	height: calc(100% + 10%);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

/* header section styles */
.text-header-section {
	color: #fff;	
	font-size: 3rem;
	font-weight: 200;
}
.subtext-header-section {
	color: rgba(255, 255, 255, 0.75);	
	margin: 2rem auto;
	font-size: 1.25rem;
	font-weight: 300;
	width: 75%;
}
hr {
	border-color: #343a40;
}

/* preventivo section styles */

#preventivo h2 {
    font-weight: normal;
    font-family: Abel;
    letter-spacing: 3px;
    word-spacing: 2px;
    color: #a3a3a3;
    font-size: 20px;
    text-align: center;
}
#preventivo h1 {
    font-size: 60px;
    letter-spacing: 8px;
    font-weight: bold;
    font-family: Abel;
    color: black;
    text-align: center;
}
.centered-box {
	padding: 180px 0px;
}
.panel-preventivo {
	border-color: #d8d8d8;
	border-radius: 0px;
	margin-bottom: 0px;
	border-left: 2px solid #d8d8d8;
	border-right: 2px solid #d8d8d8;
	-webkit-box-shadow: 0px 10px 5px 0px rgba(216,216,216,1);
	-moz-box-shadow: 0px 10px 5px 0px rgba(216,216,216,1);
	box-shadow: 0px 10px 5px 0px rgba(216,216,216,1);
}
.panel-preventivo > .card-heading {
	background-color: #fff;
	border-color: #fff;
	text-align: center;
}
.panel-preventivo > .card-heading hr {
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    border-bottom: 1px solid #efefef;
}

.preventivo-form {
	/*font-family: 'Rubik', sans-serif;*/
}

.tooltip-preventivo {
	padding: 4px 10px;
}
#preventivo .form-control {
	border-radius: 0px;
	border: none;
	border-top: 1px solid #e1e1e1;
	background: #f2f2f2;
	box-shadow: none !important;
}

#preventivo label {
	font-family: 'Rubik', sans-serif;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}

/* chisiamo section styles */
#chisiamo h1 {
	font-weight: normal;
	font-family: Abel;
	letter-spacing: 3px;
	word-spacing: 4px;
}
.chisiamo-title {
	font-weight: bold!important;
	font-size: 40px!important;
	letter-spacing: 2px!important;
	word-spacing: 3px!important;
	color: #303030!important;
}
#chisiamo hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
#chisiamo h2 {
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 3px;
	font-family: Abel;
	color: #249d32;
}
#chisiamo p {
	font-weight: 400;
	font-size: 13px;
	color: #000;
	letter-spacing: 1px;
	word-spacing: 1px;
	line-height: 1.7;
}

/* workflow section styles */
/*#workflow h1 {
	font-family: Abel;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 3px;
	color: #303030;
}
#workflow hr {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 1px solid #eee;
}
#workflow h2 {
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	word-spacing: 3px;
	font-family: Abel;
	color: #249d32;
}
#workflow p {
	font-weight: 600;
    text-align: justify;
    font-size: 17px;
    color: #212529;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 1.7;
    font-family: Abel;
}*/
a{text-decoration:none}
h4{text-align:center;margin:30px 0;color:#444}
.main-timeline{position:relative}
.main-timeline:before{content:"";width:5px;height:100%;border-radius:20px;margin:0 auto;background:#242922;position:absolute;top:0;left:0;right:0}
.main-timeline .timeline{display:inline-block;margin-bottom:50px;position:relative}
.main-timeline .timeline:before{content:"";width:20px;height:20px;border-radius:50%;border:4px solid #fff;background:#ec496e;position:absolute;top:50%;left:50%;z-index:1;transform:translate(-50%,-50%)}
.main-timeline .timeline-icon{display:inline-block;width:130px;height:130px;border-radius:50%;border:3px solid #ec496e;padding:13px;text-align:center;position:absolute;top:50%;left:30%;transform:translateY(-50%)}
.main-timeline .timeline-icon i{display:block;border-radius:50%;background:#ec496e;font-size:64px;color:#fff;line-height:100px;z-index:1;position:relative}
.main-timeline .timeline-icon:after,.main-timeline .timeline-icon:before{content:"";width:100px;height:4px;background:#ec496e;position:absolute;top:50%;right:-100px;transform:translateY(-50%)}
.main-timeline .timeline-icon:after{width:70px;height:50px;background:#fff;top:89px;right:-30px}
.main-timeline .timeline-content{width:50%;padding:0 50px;margin:52px 0 0;float:right;position:relative}
.main-timeline .timeline-content:before{content:"";width:70%;height:100%;border:3px solid #ec496e;border-top:none;border-right:none;position:absolute;bottom:-13px;left:35px}
.main-timeline .timeline-content:after{content:"";width:37px;height:3px;background:#ec496e;position:absolute;top:13px;left:0}
.main-timeline .title{font-size:20px;font-weight:600;color:#ec496e;text-transform:uppercase;margin:0 0 5px}
.main-timeline .description{display:inline-block;font-size:11.9px;color:#404040;line-height:20px;letter-spacing:1px;margin:0}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:auto;right:30%}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-100px}
.main-timeline .timeline:nth-child(even) .timeline-icon:after{right:auto;left:-30px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:left}
.main-timeline .timeline:nth-child(even) .timeline-content:before{left:auto;right:35px;transform:rotateY(180deg)}
.main-timeline .timeline:nth-child(even) .timeline-content:after{left:auto;right:0}
.main-timeline .timeline:nth-child(2n) .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-icon i,.main-timeline .timeline:nth-child(2n) .timeline-icon:before,.main-timeline .timeline:nth-child(2n):before{background:#f9850f}
.main-timeline .timeline:nth-child(2n) .timeline-icon{border-color:#f9850f}
.main-timeline .timeline:nth-child(2n) .title{color:#f9850f}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{border-left-color:#f9850f;border-bottom-color:#f9850f}
.main-timeline .timeline:nth-child(3n) .timeline-content:after,.main-timeline .timeline:nth-child(3n) .timeline-icon i,.main-timeline .timeline:nth-child(3n) .timeline-icon:before,.main-timeline .timeline:nth-child(3n):before{background:#8fb800}
.main-timeline .timeline:nth-child(3n) .timeline-icon{border-color:#8fb800}
.main-timeline .timeline:nth-child(3n) .title{color:#8fb800}
.main-timeline .timeline:nth-child(3n) .timeline-content:before{border-left-color:#8fb800;border-bottom-color:#8fb800}
.main-timeline .timeline:nth-child(4n) .timeline-content:after,.main-timeline .timeline:nth-child(4n) .timeline-icon i,.main-timeline .timeline:nth-child(4n) .timeline-icon:before,.main-timeline .timeline:nth-child(4n):before{background:#2fcea5}
.main-timeline .timeline:nth-child(4n) .timeline-icon{border-color:#2fcea5}
.main-timeline .timeline:nth-child(4n) .title{color:#2fcea5}
.main-timeline .timeline:nth-child(4n) .timeline-content:before{border-left-color:#2fcea5;border-bottom-color:#2fcea5}
@media only screen and (max-width:1200px){.main-timeline .timeline-icon:before{width:50px;right:-50px}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-50px}
.main-timeline .timeline-content{margin-top:75px}
}
@media only screen and (max-width:990px){.main-timeline .timeline{margin:0 0 10px}
.main-timeline .timeline-icon{left:25%}
.main-timeline .timeline:nth-child(even) .timeline-icon{right:25%}
.main-timeline .timeline-content{margin-top:115px}
}
@media only screen and (max-width:767px){.main-timeline{padding-top:50px}
.main-timeline:before{left:80px;right:0;margin:0}
.main-timeline .timeline{margin-bottom:70px}
.main-timeline .timeline:before{top:0;left:83px;right:0;margin:0}
.main-timeline .timeline-icon{width:60px;height:60px;line-height:40px;padding:5px;top:0;left:0}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:0;right:auto}
.main-timeline .timeline-icon:before,.main-timeline .timeline:nth-child(even) .timeline-icon:before{width:25px;left:auto;right:-25px}
.main-timeline .timeline-icon:after,.main-timeline .timeline:nth-child(even) .timeline-icon:after{width:25px;height:30px;top:44px;left:auto;right:-5px}
.main-timeline .timeline-icon i{font-size:30px;line-height:45px}
.main-timeline .timeline-content,.main-timeline .timeline:nth-child(even) .timeline-content{width:100%;margin-top:-15px;padding-left:130px;padding-right:5px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:right}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(even) .timeline-content:before{width:50%;left:120px}
.main-timeline .timeline:nth-child(even) .timeline-content:before{right:auto;transform:rotateY(0)}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(even) .timeline-content:after{left:85px}
}
@media only screen and (max-width:479px){.main-timeline .timeline-content,.main-timeline .timeline:nth-child(2n) .timeline-content{padding-left:110px}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(2n) .timeline-content:before{left:99px}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-content:after{left:65px}
}

/* footer styles */
#footer h5 {
	padding-left: 10px;
	border-left: 3px solid #eeeeee;
	padding-bottom: 6px;
	margin-bottom: 20px;
	color: #42a832;
	text-transform: uppercase;
}

.link-footer i { font-weight: 400 }
.link-footer, .link-footer-social {
	color: #fff;
	font-weight: 400;
	line-height: 1.8em;
}
.link-footer-social:hover {
	text-decoration: none;
	color: #42a832;
	position: relative;
	top: -5px;
	transition: all .2s linear;
}
.link-footer:hover{
	text-decoration: none;
	color: #42a832;
	padding-left: 5px;
	transition: .2s linear;
}
.bg-footer {
	background-color: #0e0f10 !important;
}
/* servizi styles */
#servizi h1 {
	font-family: Abel;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 3px;
	color: #303030;
}
.green-underline {
	border: 2px solid #3b613b !important;
	margin-bottom: 60px;
	margin-top: 0 !important;
}
.services-icon {
	font-size: 50px;
	border: 1px solid #597c59;
	padding: 30px 30px;
	background-color: white;
	border-radius: 1.8em;
	color: #3b613b;
	border-bottom-right-radius: 0px;
}
.services-icon:hover {
	transition: 200ms;
    background-color: #597c59;
    color: white;
}
#servizi h3 {
	font-weight: bold;
	letter-spacing: 3px;
	word-spacing: 2px;
	color: #7d8e7d;
	font-size: 16px;
	font-family: 'Rubik', sans-serif;
}
#servizi p {
	font-size: 18px;
	font-family: Abel;
	font-weight: normal;
	letter-spacing: 2px;
	/*text-align: justify;*/
}
/* calltoaction styles */
#calltoaction{
	background: #4cb55a; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #2de858 , #4cb55a); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #2de858 , #4cb55a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color : #4bc35c;
}

/* contattaci styles */
.form-control.is-invalid {
    border: 1px solid #dc3545 !important;
}
#contattaci h1 {
	font-family: Abel;
	font-weight: bold;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 3px;
	color: #303030;
}

#contattaci h4 {
	font-family: Abel;
	font-size: 19px;
	letter-spacing: 2px;
	color: #5b5b5b;
}

#contattaci h2 {
	font-family: Abel;
	font-size: 24px;
	font-weight: bold;
	color: black;
}

#contattaci .form-control {
	border-radius: 0px;
	border: none;
	border-top: 1px solid #e1e1e1;
	background: #f2f2f2;
	box-shadow: none !important;
}

#contattaci label {
	font-family: 'Rubik', sans-serif;
	display: inline-block;
	max-width: 100%;
	margin-bottom: 5px;
	font-weight: 700;
}
/* back to top icon */
.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display:none;
}
.btn-green {
	color: #fff;
	background-color: #42a832;
	border-color: #42a832;
}
.btn-green:hover {
	color: #fefefe;
	background-color: green;
	border-color: green;
}
.btn-green:focus {
	box-shadow: none;
}